<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>jOrgChart - A jQuery OrgChart Plugin</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/jquery.jOrgChart.css"/>
    <link rel="stylesheet" href="css/custom.css"/>
    <link href="css/prettify.css" type="text/css" rel="stylesheet" />

    <script type="text/javascript" src="prettify.js"></script>
    
    <!-- jQuery includes -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    
    <script src="jquery.jOrgChart.js"></script>

    <script>
    jQuery(document).ready(function() {
        $("#org").jOrgChart({
            chartElement : '#chart',
            dragAndDrop  : true
        });
    });
    </script>
  </head>

  <body onload="prettyPrint();">
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container">
                <a class="brand" href="#">My Family</a>
              
           
            </div>
        </div>
    </div>
    
    <ul id="org" style="display:none">
    <li>
       My family<br/>
       <img src="images/ครอบครัว.jpg" width="200" height="auto"/>
       <ul>
        <li> พ่อคุณทวดสาลี่ + แม่คุณทวดสาลี่<br/><img src="images/พ่อคุณทวดสาลี่.jpg" width="70" height="auto"/>
            <ul>
                <li>คุณทวดสาลี่</li>
              </ul>
        </li>
        <li> พ่อคุณทวดหลวงบูรณะชำนาญ + แม่คุณทวดหลวงบุรณชำนาญ<br/><img src="images/แม่คุณทวดหลวงบุรณชำนาญ.jpg" width="70" height="auto"/>
            <ul>
                <li>คุณทวดหลวงบุรณชำนาญ</li>
              </ul>
        </li>
         
        
         
       </ul>
     </li>
   </ul>            
    
    <div id="chart" class="orgChart"></div>
    
    <script>
        jQuery(document).ready(function() {
            
            /* Custom jQuery for the example */
            $("#show-list").click(function(e){
                e.preventDefault();
                
                $('#list-html').toggle('fast', function(){
                    if($(this).is(':visible')){
                        $('#show-list').text('Hide underlying list.');
                        $(".topbar").fadeTo('fast',0.9);
                    }else{
                        $('#show-list').text('Show underlying list.');
                        $(".topbar").fadeTo('fast',1);                  
                    }
                });
            });
            
            $('#list-html').text($('#org').html());
            
            $("#org").bind("DOMSubtreeModified", function() {
                $('#list-html').text('');
                
                $('#list-html').text($('#org').html());
                
                prettyPrint();                
            });
        });
    </script>

</body>
</html>